{% extends "admin/admin.html.twig" %}

{% block page_content %}

    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %}dashboard.labels.dati_contatto{% endtrans %} gianiaz</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <div class="col-md-6">
                                <strong>FB:</strong><br/>
                                <a href="https://www.facebook.com/gianiaz" target="_blank" rel="nofollow">
                                    https://www.facebook.com/gianiaz</a>
                                <br/>
                                <strong>Twitter:</strong><br/>
                                <a href="https://twitter.com/gianiaz" target="_blank" rel="nofollow">https://twitter.com/gianiaz</a>
                            </div>
                            <div class="col-md-6">
                                <strong>Telefono: </strong>347 7196482<br/>
                                <strong>Email:</strong>
                                <a href="mailto:gianiaz@gmail.com">gianiaz@gmail.com</a><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

{% endblock %}
